
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.dashboard-Wi9 {
  width: 100%;
  height: 110rem;
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;

  .my-projects-8zR {
    position: absolute;
    left: 29.3rem;
    top: 7.6rem;
    line-height: 1.9180000305;
    letter-spacing: 0.08rem;
    font-family: Work Sans, 'Source Sans Pro';
    height: 7.7rem;
    font-size: 4rem;
    font-weight: 600;
    color: #000000;
    white-space: nowrap;
    width: 24.1rem;
  }
  .my-projects-9uX {
    font-family: Work Sans, 'Source Sans Pro';
    height: 7.7rem;
    top: 7.6rem;
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.9180000305;
    letter-spacing: 0.08rem;
    color: #000000;
    white-space: nowrap;
    width: 24.1rem;
    position: absolute;
    left: 29.3rem;
  }
  .bg-R6M {
    padding: 1.4rem 2.2rem 0.4rem 2.2rem;
    height: 26.5rem;
    top: 17.9rem;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    border-radius: 1rem;
    box-sizing: border-box;
    width: 40.4rem;
    position: absolute;
    left: 29.3rem;
    flex-direction: column;

    .bg-GFP {
      margin-bottom: 1rem;
      box-sizing: border-box;
      padding: 6.4rem 15.3rem 6.3rem 15.4rem;
      width: 100%;
      background-color: rgba(249, 120, 47, 0.400000006);
      border-radius: 1rem;
      flex-shrink: 0;

      .addplusnewcreatecontrolicon-1-b2m {
        width: 5.3rem;
        height: 5.3rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .create-a-new-project-rzH {
      letter-spacing: 0.032rem;
      white-space: nowrap;
      margin: 0rem 0rem 0.2rem 0.1rem;
      line-height: 1.9179999828;
      color: #000000;
      font-family: Work Sans, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 600;
    }
    .or-try-a-sample-project-9iV {
      font-weight: 600;
      font-family: Work Sans, 'Source Sans Pro';
      margin-left: 0.1rem;
      line-height: 1.9179999034;
      letter-spacing: 0.024rem;
      color: #000000;
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      flex-shrink: 0;
      font-size: 1.2rem;

      
      .or-try-a-sample-project-9iV-sub-1 {
        line-height: 1.9179999034;
        letter-spacing: 0.024rem;
        color: #f9782f;
        font-family: Work Sans, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }
  .bg-LRb {
    position: absolute;
    left: 0;
    top: 0rem;
    background-color: #ffffff;
    width: 24.1rem;
    height: 110rem;
  }
  .line-HLq {
    position: absolute;
    left: 1.9rem;
    top: 7.92rem;
    object-fit: contain;
    vertical-align: top;
    width: 20.3rem;
    height: 0.11rem;
  }
  .line-RC9 {
    vertical-align: top;
    width: 20.3rem;
    height: 0.11rem;
    position: absolute;
    left: 1.9rem;
    top: 23.32rem;
    object-fit: contain;
  }
  .frame-89-Lpu {
    left: 3.2rem;
    top: 10.1rem;
    display: flex;
    box-sizing: border-box;
    padding: 0.05rem 0rem 0.05rem 0.467rem;
    width: 11.9rem;
    height: 2.8rem;
    position: absolute;
    align-items: center;

    .bxscoinstackicon-1-Dth {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.067rem 0rem 0rem;
      width: 1.8667rem;
      height: 2.3333rem;
    }
    .my-projects-vo7 {
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.9179999488;
      letter-spacing: 0.028rem;
      color: #f9782f;
    }
  }
  .frame-88-4PX {
    align-items: center;
    width: 15.1rem;
    height: 2.7rem;
    position: absolute;
    left: 3.2rem;
    top: 15.7rem;
    display: flex;

    .group-4-aMs {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1rem;
      width: 2.4rem;
      height: 2.4rem;
    }
    .sample-projects-76u {
      letter-spacing: 0.028rem;
      color: #c4c4c4;
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.9179999488;
    }
  }
  .group-9-dqw {
    position: absolute;
    left: 3.2rem;
    top: 29.7rem;
    display: flex;
    align-items: center;
    width: 14.4rem;
    height: 2.7rem;

    .multimediamusicplayplayervideoicon-1-yQ1 {
      margin: 0rem 1.394rem 0rem 0rem;
      width: 2.3065rem;
      height: 2.3065rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .intro-to-necleo-gJR {
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.3839rem;
      font-weight: 600;
      line-height: 1.9179999253;
      letter-spacing: 0.0277rem;
      color: #c4c4c4;
    }
  }
  .frame-91-zpu {
    width: 14.7rem;
    position: absolute;
    top: 83.3rem;
    display: flex;
    box-sizing: border-box;
    padding: 0.05rem 0rem 0.05rem 0.175rem;
    height: 2.8rem;
    left: 3.2rem;
    align-items: center;

    .helpcircledicon-1-Vmf {
      height: 2.45rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.175rem;
      width: 2.45rem;
    }
    .help-support-2mb {
      font-weight: 600;
      line-height: 1.9179999488;
      letter-spacing: 0.028rem;
      color: #c4c4c4;
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.4rem;
    }
  }
  .frame-92-NKf {
    width: 10.7rem;
    height: 2.8rem;
    position: absolute;
    left: 3.2rem;
    top: 88.9rem;
    display: flex;
    align-items: center;

    .feedbackicicon-1-1-72M {
      margin-right: 1rem;
      width: 2.8rem;
      height: 2.8rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .feedback-e2H {
      color: #c4c4c4;
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.9179999488;
      letter-spacing: 0.028rem;
    }
  }
  .frame-93-AWR {
    display: flex;
    top: 94.5rem;
    padding: 0.05rem 0rem 0.05rem 0.28rem;
    width: 10rem;
    height: 2.8rem;
    position: absolute;
    left: 3.2rem;
    align-items: center;
    box-sizing: border-box;

    .icfluentpanelrightexpandicon-1-U1K {
      margin: 0rem 1.28rem 0rem 0rem;
      width: 2.24rem;
      height: 1.68rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .collapse-BAd {
      font-weight: 600;
      line-height: 1.9179999488;
      letter-spacing: 0.028rem;
      color: #000000;
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.4rem;
    }
  }
  .group-5-igM {
    top: 1.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 7.6114rem;
    height: 2.7rem;
    position: absolute;
    left: 8.2rem;
  }
  .frame-87-4ER {
    height: 2.8rem;
    position: absolute;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    padding: 0.05rem 0rem 0.05rem 0.35rem;
    width: 7.4rem;
    left: 3.2rem;
    top: 24.1rem;

    .icfluentappsregularicon-1-NF7 {
      margin: 0rem 1.195rem 0.155rem 0rem;
      width: 2.2552rem;
      height: 2.255rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .apps-5fK {
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.9179999488;
      letter-spacing: 0.028rem;
      color: #c4c4c4;
    }
  }
  .bg-RUH {
    position: absolute;
    left: 24.1rem;
    top: 0;
    background-color: #ffffff;
    width: 119.9rem;
    height: 6.38rem;
  }
  .bg-mY9 {
    position: absolute;
    left: 24.1rem;
    top: 0;
    background-color: #ffffff;
    width: 119.9rem;
    height: 6.38rem;
  }
  .frame-90-76D {
    align-items: center;
    width: 21.4rem;
    height: 3.65rem;
    position: absolute;
    left: 119.4rem;
    top: 1.05rem;
    display: flex;

    .frame-82-qY1 {
      align-items: center;
      flex-shrink: 0;
      margin-right: 1.2rem;
      height: 100%;
      display: flex;

      .frame-81-ny3 {
        margin-right: 1.4rem;
        width: 14rem;
        height: 100%;
        flex-shrink: 0;

        .frame-1-k9B {
          margin-bottom: 0.75rem;
          width: 100%;
          display: flex;
          align-items: center;

          .free-trial-VcZ {
            margin-right: 1rem;
            font-weight: 500;
            line-height: 1.1725;
            color: #000000;
            display: flex;
            font-size: 1.4rem;
            letter-spacing: 0.01rem;
            font-family: Work Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item--Zkq {
            display: flex;
            font-weight: 500;
            letter-spacing: 0.01rem;
            margin-right: 1.1rem;
            font-size: 1.4rem;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .days-left-6Ey {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.1725;
            letter-spacing: 0.01rem;
            color: #000000;
            flex-shrink: 0;
            display: flex;
            font-family: Work Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .extend-free-trail-dEu {
          letter-spacing: 0.01rem;
          color: #f9782f;
          font-family: Work Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.1725;
        }
      }
      .ellipse-1-Mgh {
        margin-top: 0.05rem;
        height: 3.6rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:9e6f0ecefa65d90309d69dd19a1974b5dcc7cfb5');
        flex-shrink: 0;
        width: 3.6rem;
        background-color: #d9d9d9;
        border-radius: 1.8rem;
      }
    }
    .page-1-GHs {
      border-radius: 0.1rem;
      flex-shrink: 0;
      margin-top: 0.05rem;
      width: 1.2rem;
      height: 0.6rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .bg-zUm {
    box-sizing: border-box;
    left: 81.3rem;
    align-items: center;
    display: flex;
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1.4rem 2.2rem 0.4rem 2.2rem;
    width: 40.4rem;
    height: 26.5rem;
    position: absolute;
    top: 17.9rem;
    flex-direction: column;

    .bg-621 {
      margin-bottom: 1rem;
      box-sizing: border-box;
      padding: 6.4rem 15.3rem 6.3rem 15.4rem;
      width: 100%;
      background-color: rgba(249, 120, 47, 0.400000006);
      border-radius: 1rem;
      flex-shrink: 0;

      .addplusnewcreatecontrolicon-1-pih {
        width: 5.3rem;
        height: 5.3rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .create-a-new-project-vmj {
      letter-spacing: 0.032rem;
      color: #000000;
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 0.2rem 0.1rem;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.9179999828;
    }
    .or-try-a-sample-project-EnR {
      margin-left: 0.1rem;
      font-size: 1.2rem;
      font-weight: 600;
      letter-spacing: 0.024rem;
      color: #000000;
      display: flex;
      align-items: baseline;
      line-height: 1.9179999034;
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;

      .or-try-a-sample-project-EnR-sub-1 {
        line-height: 1.9179999034;
        letter-spacing: 0.024rem;
        color: #f9782f;
        font-family: Work Sans, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }
  .bg-mQy {
    width: 40.4rem;
    height: 26.5rem;
    left: 29.3rem;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 1.4rem 2.2rem 0.4rem 2.2rem;
    position: absolute;
    top: 48.4rem;
    display: flex;

    .bg-5Rf {
      width: 100%;
      background-color: rgba(249, 120, 47, 0.400000006);
      border-radius: 1rem;
      flex-shrink: 0;
      margin-bottom: 1rem;
      box-sizing: border-box;
      padding: 6.4rem 15.3rem 6.3rem 15.4rem;

      .addplusnewcreatecontrolicon-1-bQ1 {
        width: 5.3rem;
        height: 5.3rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .create-a-new-project-K57 {
      color: #000000;
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.9179999828;
      margin: 0rem 0rem 0.2rem 0.1rem;
      letter-spacing: 0.032rem;
      flex-shrink: 0;
    }
    .or-try-a-sample-project-pXf {
      line-height: 1.9179999034;
      letter-spacing: 0.024rem;
      font-family: Work Sans, 'Source Sans Pro';
      align-items: baseline;
      font-weight: 600;
      font-size: 1.2rem;
      color: #000000;
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      margin-left: 0.1rem;

      
      .or-try-a-sample-project-pXf-sub-1 {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.9179999034;
        letter-spacing: 0.024rem;
        color: #f9782f;
        font-family: Work Sans, 'Source Sans Pro';
      }
    }
  }
  .bg-mLR {
    left: 80.7rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;
    position: absolute;
    height: 26.5rem;
    top: 48.8rem;
    align-items: center;
    border-radius: 1rem;
    padding: 1.4rem 2.2rem 0.4rem 2.2rem;
    width: 40.4rem;

    .bg-GHB {
      border-radius: 1rem;
      flex-shrink: 0;
      margin-bottom: 1rem;
      box-sizing: border-box;
      padding: 6.4rem 15.3rem 6.3rem 15.4rem;
      width: 100%;
      background-color: rgba(249, 120, 47, 0.400000006);

      .addplusnewcreatecontrolicon-1-CwX {
        width: 5.3rem;
        height: 5.3rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .create-a-new-project-vMj {
      margin: 0rem 0rem 0.2rem 0.1rem;
      font-size: 1.6rem;
      line-height: 1.9179999828;
      letter-spacing: 0.032rem;
      color: #000000;
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 600;
      flex-shrink: 0;
    }
    .or-try-a-sample-project-SL5 {
      font-size: 1.2rem;
      line-height: 1.9179999034;
      letter-spacing: 0.024rem;
      color: #000000;
      align-items: baseline;
      flex-shrink: 0;
      margin-left: 0.1rem;
      font-weight: 600;
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;

      
      .or-try-a-sample-project-SL5-sub-1 {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.9179999034;
        letter-spacing: 0.024rem;
        color: #f9782f;
        font-family: Work Sans, 'Source Sans Pro';
      }
    }
  }
  .bg-11o {
    top: 78.9rem;
    display: flex;
    width: 40.4rem;
    position: absolute;
    height: 26.5rem;
    left: 29.3rem;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 1.4rem 2.2rem 0.4rem 2.2rem;

    .bg-WjF {
      width: 100%;
      background-color: rgba(249, 120, 47, 0.400000006);
      border-radius: 1rem;
      flex-shrink: 0;
      margin-bottom: 1rem;
      box-sizing: border-box;
      padding: 6.4rem 15.3rem 6.3rem 15.4rem;

      .addplusnewcreatecontrolicon-1-rHK {
        height: 5.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 5.3rem;
      }
    }
    .create-a-new-project-nAy {
      margin: 0rem 0rem 0.2rem 0.1rem;
      font-size: 1.6rem;
      line-height: 1.9179999828;
      letter-spacing: 0.032rem;
      font-family: Work Sans, 'Source Sans Pro';
      flex-shrink: 0;
      font-weight: 600;
      color: #000000;
      white-space: nowrap;
    }
    .or-try-a-sample-project-V5P {
      color: #000000;
      font-family: Work Sans, 'Source Sans Pro';
      display: flex;
      margin-left: 0.1rem;
      font-size: 1.2rem;
      letter-spacing: 0.024rem;
      white-space: nowrap;
      align-items: baseline;
      flex-shrink: 0;
      font-weight: 600;
      line-height: 1.9179999034;

      
      .or-try-a-sample-project-V5P-sub-1 {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.9179999034;
        letter-spacing: 0.024rem;
        color: #f9782f;
        font-family: Work Sans, 'Source Sans Pro';
      }
    }
  }
  .bg-GVT {
    top: 79.3rem;
    align-items: center;
    box-sizing: border-box;
    left: 81.2rem;
    height: 26.5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1.4rem 2.2rem 0.4rem 2.2rem;
    width: 40.4rem;

    .bg-yPs {
      box-sizing: border-box;
      padding: 6.4rem 15.3rem 6.3rem 15.4rem;
      width: 100%;
      background-color: rgba(249, 120, 47, 0.400000006);
      border-radius: 1rem;
      flex-shrink: 0;
      margin-bottom: 1rem;

      .addplusnewcreatecontrolicon-1-WPo {
        height: 5.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 5.3rem;
      }
    }
    .create-a-new-project-Eqb {
      font-weight: 600;
      letter-spacing: 0.032rem;
      color: #000000;
      flex-shrink: 0;
      margin: 0rem 0rem 0.2rem 0.1rem;
      font-size: 1.6rem;
      line-height: 1.9179999828;
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .or-try-a-sample-project-ZN5 {
      font-weight: 600;
      line-height: 1.9179999034;
      color: #000000;
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;
      flex-shrink: 0;
      margin-left: 0.1rem;
      letter-spacing: 0.024rem;
      display: flex;
      font-size: 1.2rem;

      
      .or-try-a-sample-project-ZN5-sub-1 {
        color: #f9782f;
        font-family: Work Sans, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.9179999034;
        letter-spacing: 0.024rem;
      }
    }
  }
}
